<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Buddy Profile</title>

  <!-- Bootstrap CSS Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- My Stylesheet -->
  <link rel="stylesheet" href="css/profile.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/cf059f7d51.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Javascript-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="/js/profile.js"></script>
</head>

<body>
  <div>
    <a href="home"><button type="button" class="btn back-btn">Back</button></a>
  </div>
  <div class="container" style="position:relative; top:20px;">


    <div class="info">
      <div class="col-lg-6">
        <button class="avatar-btn" type="button" name="button">
          <img id='user-avatar' class="avatar-img" src="{{imageSrc}}" alt="avatar">
        </button>

      </div>

      <div class="col-lg-6">
        <h1 id="eatBuddy">{{eatBuddy}}</h1>
        <h3>Health Rate</h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

      </div>
    </div>
    <h1 style="color:#ffffff"><img src="/images/calendar.png" width="10%" alt="" style="margin:13px;"/>Meal Records</h1>



    <ul id="profile_record" style="padding-left:20px;padding-right:20px;">
    {{#each records}}

      <li class="record" id="{{id}}">
        <!-- <a class="record-btn" href="#"> -->
        <button type="button" class="btn btn-light btn-lg record-btn">
          <a href="#" style="display: none" class="duration">{{Duration}}</a>
          <a href="#" class="date"> {{Date}}</a>
          <a href="#" class="time"> {{Time}} </a>
          <a href="#" class="health"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="{{Health}}"></i></a>
        </button>
        <!-- </a> -->
      </li>
    {{/each}}
    </ul>

    <div align=center>
      <a href="profile_records">
        <button type="button" class="btn btn-lg more-btn">
          See All Meal Records
        </button>
      </a>
    </div>


  </div>



</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    //var eatBuddy = '';
    var imageSrc = '';
    //var imageId='';
    let mapImgSrc = {
          'img1': 'images/shiba-inu.png',
          'img2': 'images/cat.png',
          'img3': 'images/bulldog.png',
          'img4': 'images/koala.png'
        }
    $.post("/signup_step2", function(data){
      console.log(data)
		})

    //$('#user-avatar').attr('src', imageSrc)
    //$('#eatBuddy').html(eatBuddy)
})
</script>
</html>
