<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eat Buddy Profile</title>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P9PW4KS');</script>
<!-- End Google Tag Manager -->
  <!-- Bootstrap CSS Stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- My Stylesheet -->
  <link rel="stylesheet" href="css/profile.css">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/cf059f7d51.js" crossorigin="anonymous"></script>

  <!-- Bootstrap Javascript-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-158844136-2', 'auto');
  ga('require', 'GTM-NB36ZMJ');
  ga('send', 'pageview');
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9PW4KS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div>
    <a href="home"><button type="button" class="btn back-btn">Back</button></a>
  </div>
  <div class="container" style="position:relative; top:20px;">


    <div class="info">
      <div class="col-lg-6">
        <button class="avatar-btn" type="button" name="button">
          <img id='user-avatar' class="avatar-img" src="{{imageSrc}}" alt="avatar">
        </button>

      </div>

      <div class="col-lg-6">
        <h1 id="eatBuddy">{{eatBuddy}}</h1>
        <h3>Health Rate</h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>

      </div>
    </div>
    <h1 style="color:#ffffff"><img src="/images/calendar.png" width="10%" alt="" style="margin:13px;"/>Meal Records</h1>



    <ul id="profile_record" style="padding-left:20px;padding-right:20px;">
      <!--
          {{#each records}}

            <li class="record" id="{{id}}">

              <button type="button" class="btn btn-light btn-lg record-btn">
                <a href="#" style="display: none" class="duration">{{Duration}}</a>
                <a href="#" class="date"> {{Date}}</a>
                <a href="#" class="time"> {{Time}} </a>
                <a href="#" class="health"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="{{Health}}"></i></a>
              </button>

            </li>
          {{/each}} -->

    </ul>

    <div align=center>
      <a href="profile_records">
        <button type="button" class="btn btn-lg more-btn">
          See All Meal Records
        </button>
      </a>
    </div>


  </div>



</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {


    //$('#profile_record').hide();

    let mapImgSrc = {
          'img1': 'images/shiba-inu.png',
          'img2': 'images/cat.png',
          'img3': 'images/bulldog.png',
          'img4': 'images/koala.png'
        }



    $.ajax({
      type:'GET',
      url: '/user',
      dataType:'json',
      success:(data)=>{
        //console.log(data);
        console.log(data.imageId)
        imageSrc = mapImgSrc[data.imageId]
        console.log(imageSrc)
        $('#user-avatar').attr('src', imageSrc)
        $('#eatBuddy').html(data.eatBuddy)


        for (i = 0; i < data.records.length; i++){
          var stars = "";
          if (data.records[i].Health == 1){
            stars = `<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`;
          } else if (data.records[i].Health == 2){
            stars = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>`;
          } else if (data.records[i].Health == 3){
            stars = `<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>`;
          } else{
            stars = `<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>`;
          }
          $('#profile_record').append(`
                <li class="record" id="${data.records[i].id}">

                  <button type="button" id="record-btn${i}" class="btn btn-light btn-lg record-btn">
                    <a href="#" style="display: none" class="duration">${data.records[i].Duration}</a>
                    <a href="#" class="date"> ${data.records[i].Date}</a>
                    <a href="#" class="time"> ${data.records[i].Time}</a>
                    <a href="#" class="health">${stars}</a>
                    <div class="record-detail" style="display: none;"><h2>Meal Record</h2><p>Date: ${data.records[i].Date}</p><p>Time: ${data.records[i].Time}</p><p>Duration: ${data.records[i].Duration} </p><p>Health Rate: ${stars} </p>
                  </button>

                </li>`);

        }
        $(".record-btn").click(function(e) {
          e.preventDefault();
          $(this).find(".record-detail").toggle();
          $(this).find(".date").toggle();
          $(this).find(".time").toggle();
          $(this).find(".health").toggle();

        });
        $('ul li:gt(3)').hide();

      }
    });
    // function recordClicked(e){
    //
    //   console.log("hey2");
    // }

    // $(".record-btn").click(function() {
    //   var record = $(this).closest(".record");
    //   var id = record.attr('id');
    //   // var record_data = data.records[id-1];
    //
    //   var date = $(this).find(".date").html();
    //   var duration = $(this).find(".duration").html();
    //   console.log(duration);
    //   var time = $(this).find(".time").html();
    //   var health = $(this).find(".health").html();
    //   var detail = $(this).find(".record-detail");
    //   if (detail.length == 0) {
    //     var string = `<div class="record-detail"><h2>Meal Record</h2><p>Date: ${date}</p><p>Time: ${time}</p><p>Duration: ${duration} </p><p>Health Rate: ${health} </p>`;
    //     $(this).append(string);
    //     // $(containingProject).append($(date).text);
    //     // $(containingProject).append("<text>Start Time: </text>");
    //     // $(containingProject).append($(time).text);
    //     // $(containingProject).append("<text>End Time: </text>");
    //   } else {
    //     $(this).find(".record-detail").toggle();
    //     //description.html("<p>Stop clicking on me! You just did it at " + (new Date()) + "</p>");
    //   }
    // })


})
</script>
<script src="/js/profile.js"></script>
</html>
